name = "ast-grep"
from = "base"

version = '0.40.5'

devDependencies = ["wget", "unzip"]

build = """
wget -O /tmp/ast-grep.zip 'https://github.com/ast-grep/ast-grep/releases/download/{{VERSION}}/app-x86_64-unknown-linux-gnu.zip'
unzip /tmp/ast-grep.zip
rm /tmp/ast-grep.zip

mv ast-grep sg /usr/local/bin/
"""

exports = ["/usr/local/bin/sg", "/usr/local/bin/ast-grep"]

[checkUpdates]
type = "github-release"
url = "https://github.com/ast-grep/ast-grep"
removePrefix = "v"
