name = 'base'
fromImage = 'phusion/baseimage:noble-1.0.2' # 24.04

baseExportDir = '/exports/'

version = 'noble-1.0.2'

build = """
echo {{VERSION}}

export LANG=en_NZ.UTF-8
locale-gen $LANG

# bring back manpages
export DEBIAN_FRONTEND=noninteractive
echo 'openssh-server openssh-server/permit-root-login select false' | debconf-set-selections
echo 'openssh-server openssh-server/password-authentication select true' | debconf-set-selections
yes | unminimize
"""

[checkUpdates]
type = 'github-release'
url = 'https://github.com/phusion/baseimage-docker'
