name = 'bspwm'
from = 'base'

version = '0.9.12'

devDependencies = ['apteryx', 'build-essential', 'clone', 'make']

build = """
apteryx \
  libxcb-ewmh-dev \
  libxcb-icccm4-dev \
  libxcb-keysyms1-dev \
  libxcb-randr0-dev \
  libxcb-shape0-dev \
  libxcb-util-dev \
  libxcb-xinerama0-dev

clone --https --tag='{{VERSION}}' https://github.com/baskerville/bspwm

cd /root/src/github.com/baskerville/bspwm
make all
make install
rm -rf /root/src
"""

exports = [
  "/usr/include/GL/",
  "/usr/include/X11/",
  "/usr/include/xcb/",
  "/usr/lib/x86_64-linux-gnu/libXau.a",
  "/usr/lib/x86_64-linux-gnu/libXau.so",
  "/usr/lib/x86_64-linux-gnu/libXau.so.6",
  "/usr/lib/x86_64-linux-gnu/libXau.so.6.0.0",
  "/usr/lib/x86_64-linux-gnu/libxcb-ewmh.a",
  "/usr/lib/x86_64-linux-gnu/libxcb-ewmh.so",
  "/usr/lib/x86_64-linux-gnu/libxcb-ewmh.so.2",
  "/usr/lib/x86_64-linux-gnu/libxcb-ewmh.so.2.0.0",
  "/usr/lib/x86_64-linux-gnu/libxcb-icccm.a",
  "/usr/lib/x86_64-linux-gnu/libxcb-icccm.so",
  "/usr/lib/x86_64-linux-gnu/libxcb-icccm.so.4",
  "/usr/lib/x86_64-linux-gnu/libxcb-icccm.so.4.0.0",
  "/usr/lib/x86_64-linux-gnu/libxcb-keysyms.a",
  "/usr/lib/x86_64-linux-gnu/libxcb-keysyms.so",
  "/usr/lib/x86_64-linux-gnu/libxcb-keysyms.so.1",
  "/usr/lib/x86_64-linux-gnu/libxcb-keysyms.so.1.0.0",
  "/usr/lib/x86_64-linux-gnu/libxcb-randr.a",
  "/usr/lib/x86_64-linux-gnu/libxcb-randr.so",
  "/usr/lib/x86_64-linux-gnu/libxcb-randr.so.0",
  "/usr/lib/x86_64-linux-gnu/libxcb-randr.so.0.1.0",
  "/usr/lib/x86_64-linux-gnu/libxcb-render.a",
  "/usr/lib/x86_64-linux-gnu/libxcb-render.so",
  "/usr/lib/x86_64-linux-gnu/libxcb-render.so.0",
  "/usr/lib/x86_64-linux-gnu/libxcb-render.so.0.0.0",
  "/usr/lib/x86_64-linux-gnu/libxcb-shape.a",
  "/usr/lib/x86_64-linux-gnu/libxcb-shape.so",
  "/usr/lib/x86_64-linux-gnu/libxcb-shape.so.0",
  "/usr/lib/x86_64-linux-gnu/libxcb-shape.so.0.0.0",
  "/usr/lib/x86_64-linux-gnu/libxcb-util.a",
  "/usr/lib/x86_64-linux-gnu/libxcb-util.so",
  "/usr/lib/x86_64-linux-gnu/libxcb-util.so.1",
  "/usr/lib/x86_64-linux-gnu/libxcb-util.so.1.0.0",
  "/usr/lib/x86_64-linux-gnu/libxcb-xinerama.a",
  "/usr/lib/x86_64-linux-gnu/libxcb-xinerama.so",
  "/usr/lib/x86_64-linux-gnu/libxcb-xinerama.so.0",
  "/usr/lib/x86_64-linux-gnu/libxcb-xinerama.so.0.0.0",
  "/usr/lib/x86_64-linux-gnu/libxcb.a",
  "/usr/lib/x86_64-linux-gnu/libxcb.so",
  "/usr/lib/x86_64-linux-gnu/libxcb.so.1",
  "/usr/lib/x86_64-linux-gnu/libxcb.so.1.1.0",
  "/usr/lib/x86_64-linux-gnu/libXdmcp.a",
  "/usr/lib/x86_64-linux-gnu/libXdmcp.so",
  "/usr/lib/x86_64-linux-gnu/libXdmcp.so.6",
  "/usr/lib/x86_64-linux-gnu/libXdmcp.so.6.0.0",
  "/usr/lib/x86_64-linux-gnu/pkgconfig/pthread-stubs.pc",
  "/usr/lib/x86_64-linux-gnu/pkgconfig/xau.pc",
  "/usr/lib/x86_64-linux-gnu/pkgconfig/xcb-atom.pc",
  "/usr/lib/x86_64-linux-gnu/pkgconfig/xcb-aux.pc",
  "/usr/lib/x86_64-linux-gnu/pkgconfig/xcb-event.pc",
  "/usr/lib/x86_64-linux-gnu/pkgconfig/xcb-ewmh.pc",
  "/usr/lib/x86_64-linux-gnu/pkgconfig/xcb-icccm.pc",
  "/usr/lib/x86_64-linux-gnu/pkgconfig/xcb-keysyms.pc",
  "/usr/lib/x86_64-linux-gnu/pkgconfig/xcb-randr.pc",
  "/usr/lib/x86_64-linux-gnu/pkgconfig/xcb-render.pc",
  "/usr/lib/x86_64-linux-gnu/pkgconfig/xcb-shape.pc",
  "/usr/lib/x86_64-linux-gnu/pkgconfig/xcb-util.pc",
  "/usr/lib/x86_64-linux-gnu/pkgconfig/xcb-xinerama.pc",
  "/usr/lib/x86_64-linux-gnu/pkgconfig/xcb.pc",
  "/usr/lib/x86_64-linux-gnu/pkgconfig/xdmcp.pc",
  "/usr/local/bin/bspc",
  "/usr/local/bin/bspwm",
]

[checkUpdates]
type = 'github-tag'
url = 'https://github.com/baskerville/bspwm'
