name = 'claude-code'
from = 'base'

version = '2.0.55'

devDependencies = ['node']

build = """
npm install -g '@anthropic-ai/claude-code@{{VERSION}}'
"""

exports = [
  '/usr/local/bin/claude',
  '/usr/local/lib/node_modules/@anthropic-ai/claude-code',
]

[checkUpdates]
type = 'npm'
packageName = '@anthropic-ai/claude-code'
