name = 'firefox'
from = 'base'

# https://www.mozilla.org/en-US/firefox/releases/
version = '147.0'

devDependencies = ['apteryx', 'wget', 'xz']

build = """
wget \
  -O /tmp/firefox.tar.xz \
  https://download-installer.cdn.mozilla.net/pub/firefox/releases/{{VERSION}}/linux-x86_64/en-US/firefox-{{VERSION}}.tar.xz

cd /opt
tar xJvf /tmp/firefox.tar.xz
rm /tmp/firefox.tar.xz

ln -s /opt/firefox/firefox /usr/local/bin/firefox

echo "[Desktop Entry]" >> /desktop
echo "Version=1.0" >> /desktop
echo "Name=Firefox Web Browser" >> /desktop
echo "Comment=Browse the World Wide Web" >> /desktop
echo "GenericName=Web Browser" >> /desktop
echo "Keywords=Internet;WWW;Browser;Web;Explorer" >> /desktop
echo "Exec=firefox %u" >> /desktop
echo "Terminal=false" >> /desktop
echo "X-MultipleArgs=false" >> /desktop
echo "Type=Application" >> /desktop
echo "Icon=firefox" >> /desktop
echo "Categories=GNOME;GTK;Network;WebBrowser;" >> /desktop
echo "MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;" >> /desktop
echo "StartupNotify=true" >> /desktop

mv /desktop /usr/share/applications/firefox.desktop

apteryx libdbus-glib-1-2
"""

exports = [
  '/opt/firefox',
  '/usr/local/bin/firefox',
  '/usr/share/applications/firefox.desktop',
  '/usr/lib/x86_64-linux-gnu/libdbus-glib-1.so.*',
]

[checkUpdates]
type = 'json'
url = 'https://product-details.mozilla.org/1.0/firefox_versions.json'
path = ['LATEST_FIREFOX_VERSION']
