name = "gosee"
from = "base"

version = '9424db2ae665327a0b2d0638230f77324b2d6021'

devDependencies = ["clone", "go"]

build = """
clone --https --shallow --ref={{VERSION}} https://github.com/jmbaur/gosee
cd /root/src/github.com/jmbaur/gosee
go build -o /usr/local/bin/gosee
rm -r /root/src
"""

exports = ["/usr/local/bin/gosee"]

[checkUpdates]
type = "github-commit"
url = "https://github.com/jmbaur/gosee"
