name = "gosee"
from = "base"

version = '7eb602c758e13d27e6e146fc605f4f31ec6849c3'

devDependencies = ["clone", "go"]

build = """
clone --https --shallow --ref={{VERSION}} https://github.com/jmbaur/gosee
cd /root/src/github.com/jmbaur/gosee
go build -o /usr/local/bin/gosee
rm -r /root/src
"""

exports = ["/usr/local/bin/gosee"]

[checkUpdates]
type = "github-commit"
url = "https://github.com/jmbaur/gosee"
