name = 'ncu'
from = 'base'

version = '19.3.1'

devDependencies = ['node']

build = """
npm install -g 'npm-check-updates@{{VERSION}}'
"""

exports = [
  '/usr/local/bin/ncu',
  '/usr/local/lib/node_modules/npm-check-updates',
]

[checkUpdates]
type = 'npm'
packageName = 'npm-check-updates'
