name = 'node'
from = 'base'

# https://nodejs.org/en/
version = 'v25.3.0'

dependencies = ['apteryx', 'n']

build = """
# node v25+ requires libatomic
apteryx libatomic1

n {{VERSION}}
n lts
npm install -g npm
"""

exports = [
  '/usr/local/n/',
  '/usr/local/bin/node',
  '/usr/local/bin/npm',
  '/usr/local/bin/npx',
  '/usr/local/include/node/',
  '/usr/local/lib/node_modules/',
]

[checkUpdates]
type = 'json'
url = 'https://nodejs.org/download/release/index.json'
path = ['0', 'version']
