name = 'pgcli'
from = 'base'

version = '4.4.0'

dependencies = ['apteryx', 'uv']

build = """
apteryx libpq-dev

uv tool install pgcli=='{{VERSION}}'

ln -s /usr/local/uv/bin/pgcli /usr/local/bin/pgcli
"""

exports = [
  '/usr/lib/x86_64-linux-gnu/libpq.*',
  '/usr/local/uv/',
  '/usr/local/bin/pgcli',
]

[checkUpdates]
type = 'github-tag'
url = 'https://github.com/dbcli/pgcli'
removePrefix = 'v'
