name = 'sxhkd'
from = 'base'

# https://github.com/baskerville/sxhkd
version = '0.6.3'

devDependencies = ['build-essential', 'apteryx', 'clone', 'make']

build = """
apteryx \
  libxcb-util-dev \
  libxcb-keysyms1-dev \
  libxcb-xkb-dev

clone --https --tag='{{VERSION}}' https://github.com/baskerville/sxhkd
cd /root/src/github.com/baskerville/sxhkd
make all
make install
rm -rf /root/src
"""

exports = ['/usr/local/bin/sxhkd', '/usr/local/share/man/man1/sxhkd.1']

[checkUpdates]
type = 'github-tag'
url = 'https://github.com/baskerville/sxhkd'
