name = "uv"
from = "base"
version = '0.9.13'

devDependencies = ["wget"]

build = """
wget -O /tmp/uv.tgz 'https://github.com/astral-sh/uv/releases/download/{{VERSION}}/uv-x86_64-unknown-linux-gnu.tar.gz'
tar -xzvf /tmp/uv.tgz -C /tmp
rm /tmp/uv.tgz

mv /tmp/uv-x86_64-unknown-linux-gnu/uv /tmp/uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin/
rmdir /tmp/uv-x86_64-unknown-linux-gnu

mkdir -p /usr/local/uv/tools /usr/local/uv/bin /usr/local/uv/python
"""

exportEnv = [
  [
    "UV_LINK_MODE",
    "copy",
  ],
  [
    "UV_COMPILE_BYTECODE",
    "1",
  ],
  [
    "UV_PYTHON_DOWNLOADS",
    "manual",
  ],
  [
    "UV_TOOL_DIR",
    "/usr/local/uv/tools",
  ],
  [
    "UV_TOOL_BIN_DIR",
    "/usr/local/uv/bin",
  ],
  [
    "UV_PYTHON_INSTALL_DIR",
    "/usr/local/uv/python",
  ],
]

exports = ["/usr/local/bin/uv", "/usr/local/bin/uvx", "/usr/local/uv/"]

[checkUpdates]
type = "github-release"
url = "https://github.com/astral-sh/uv"
removePrefix = "v"
